# Лабораторная работа 1
Pandas

Выполнил: 6132-010402D, Килбас Игорь Александрович

1 Считать в pandas DataFrame любой источник данных:  CSV, JSON, Excel-файл, HTML-таблицу, встроенный датасет sklearn. Опишите ваши данные, что обозначает каждый столбец, какого типа (категориальный, вещественный, целочисленный, бинарный) данный столбец, при необходимости для категориальных в том числе бинарных признаков привести расшифровку их значений. В общем, проведите "визуальный" анализ ваших данных.

In [1]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
import numpy as np

In [2]:
dataset = fetch_california_housing(as_frame=True).frame

In [3]:
dataset.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

В данном датафрейме хранятся данные переписи населения Калифорнии в 1990 г. Одна строчка соответствует одной группе - наименьшей географической единице США, для которой бюро переписи населения выкладывает данные. Каждый колонка является числовым значением, описывающем характеристики группы: медианный доход, среднее число комнат дома, популяция, цена дома.

2 Выполните с датафреймом следующие операции (многие операции можно совершить не одним способом, используйте все известные вам способы, поищите/придумайте новые способы) :

2.1 вывод таблицы

2.2 вывод первых n элементов таблицы

2.3 вывод последних n элементов таблицы

2.4 .describe()

2.5 считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки)  всеми известными вам способами

2.6 фильтрация строк по диапазону индекса

2.7 фильтрация набора данных по какому-либо условию

2.8. работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

2.9. создание нового поля вычисленного на основе значений других полей:

2.9.1 через выражение на базе имеющихся колонок,

2.9.2 через DataFrame.apply

2.9.3 через Series.apply

2.10 сортировка по какому-либо из полей

2.11 вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)

2.12 .value_counts()

2.13 Вывод уникальных значений колонки через .unique()

2.14 Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит

In [4]:
# 2.1
dataset

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [5]:
# 2.2
n = 3
dataset[:n]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521

In [6]:
# 2.3
dataset[-n:]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [7]:
# 2.4
dataset.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [8]:
# 2.5
print(dataset.iloc[n]['MedInc'])
print(dataset.loc[n]['MedInc'])
print(dataset['MedInc'][n])
print(dataset.get('MedInc')[n])
print(dataset[n:n+1]['MedInc'])

5.6431
5.6431
5.6431
5.6431
3    5.6431
Name: MedInc, dtype: float64

In [9]:
# 2.6 
dataset[n:n+100]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,2.992
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,2.414
...,...,...,...,...,...,...,...,...,...
98,1.2185,22.0,2.945600,1.016000,2024.0,1.619200,37.82,-122.26,1.700
99,2.6104,37.0,3.707143,1.107143,1838.0,1.875510,37.82,-122.26,1.931
100,2.4912,29.0,3.724800,1.131200,2304.0,1.843200,37.81,-122.25,2.578
101,3.2177,28.0,3.878424,1.070808,2563.0,1.712091,37.81,-122.25,2.734
102,3.1250,39.0,3.745614,1.061404,389.0,1.706140,37.81,-122.25,2.375

In [10]:
# 2.7
# Select only groups Median Income > 7.6
select = dataset['MedInc'] > 7.6
dataset[select]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.52600
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.58500
131,11.6017,18.0,8.335052,1.082474,533.0,2.747423,37.84,-122.19,3.92600
134,8.2049,28.0,6.978947,0.968421,463.0,2.436842,37.83,-122.19,3.35200
135,8.4010,26.0,7.530806,1.056872,542.0,2.568720,37.83,-122.20,3.51200
...,...,...,...,...,...,...,...,...,...
20428,8.7288,6.0,8.715842,1.102970,3385.0,3.351485,34.23,-118.83,4.25800
20436,12.5420,10.0,9.873315,1.102426,1179.0,3.177898,34.21,-118.69,5.00001
20442,7.7785,13.0,7.969697,1.025974,833.0,3.606061,34.25,-118.78,4.04700
20487,7.9013,5.0,8.319293,1.120924,2440.0,3.315217,34.30,-118.67,3.93000
20503,8.2787,27.0,6.935065,1.103896,243.0,3.155844,34.33,-118.75,3.30000

In [11]:
# 2.8

def generate_noise(dataset, p=0.5):
    # Случайным образом вставляет nan в таблицу
    # p - вероятность вставки nan в строку
    dataset = dataset.copy()
    for i in range(dataset.shape[0]):
        if np.random.random() < p:
            continue
        column = np.random.choice(dataset.columns[:-1])  # avoid selecting class column
        dataset.loc[i, column] = np.nan
    return dataset

test_ds = generate_noise(dataset[:5])
test_ds

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,NaN,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [12]:
# Выбросим строки с Nan
test_ds.dropna()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [13]:
# Заменим Nan на средние значения
column_means = test_ds.mean(axis=0)
for col in test_ds.columns:
    test_ds[col].fillna(column_means[col], inplace=True)
test_ds

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [14]:
# 2.9.1
test_ds['sum'] = test_ds['MedInc'] + test_ds['AveRooms']
test_ds

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536
3,5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053

In [15]:
test_ds['square_sum'] = test_ds.apply(lambda x: x**2).sum(axis=1)
test_ds

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum,square_sum
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327,1.221206e+05
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537,5.781951e+06
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536,2.654797e+05
3,5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452,3.306613e+05
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053,3.384812e+05

In [16]:
test_ds['square'] = test_ds['Population'].apply(lambda x: x**2)
test_ds

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum,square_sum,square
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327,1.221206e+05,103684.0
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537,5.781951e+06,5764801.0
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536,2.654797e+05,246016.0
3,5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452,3.306613e+05,311364.0
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053,3.384812e+05,319225.0

In [17]:
# 2.10
test_ds.sort_values('Population')

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum,square_sum,square
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327,1.221206e+05,103684.0
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536,2.654797e+05,246016.0
3,5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452,3.306613e+05,311364.0
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053,3.384812e+05,319225.0
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537,5.781951e+06,5764801.0

In [18]:
# 2.11
test_ds.mean(axis=0), test_ds.std(axis=0)

(MedInc         6.674660e+00
 HouseAge       4.360000e+01
 AveRooms       6.721921e+00
 AveBedrms      1.044655e+00
 Population     8.684000e+02
 AveOccup       2.412281e+00
 Latitude       3.785800e+01
 Longitude     -1.222380e+02
 MedHouseVal    3.693400e+00
 sum            1.339658e+01
 square_sum     1.367739e+06
 square         1.349018e+06
 dtype: float64,
 MedInc         1.921878e+00
 HouseAge       1.350185e+01
 AveRooms       9.705324e-01
 AveBedrms      4.661885e-02
 Population     8.623365e+02
 AveOccup       2.816716e-01
 Latitude       1.303840e-02
 Longitude      1.303840e-02
 MedHouseVal    4.708973e-01
 sum            2.450246e+00
 square_sum     2.469145e+06
 square         2.470011e+06
 dtype: float64)

In [19]:
# 2.12
test_ds.value_counts()

MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude  MedHouseVal  sum        square_sum    square
8.3252  41.0      6.984127  1.023810   322.0       2.555556  37.88     -122.23    4.526        15.309327  1.221206e+05  103684.0     1
8.3014  21.0      6.238137  0.971880   2401.0      2.109842  37.86     -122.22    3.585        14.539537  5.781951e+06  5764801.0    1
7.2574  52.0      8.288136  1.073446   496.0       2.802260  37.85     -122.24    3.521        15.545536  2.654797e+05  246016.0     1
5.6431  52.0      5.817352  1.073059   558.0       2.412281  37.85     -122.25    3.413        11.460452  3.306613e+05  311364.0     1
3.8462  52.0      6.281853  1.081081   565.0       2.181467  37.85     -122.25    3.422        10.128053  3.384812e+05  319225.0     1
dtype: int64

In [20]:
# 2.13
dataset['HouseAge'].unique()

array([41., 21., 52., 42., 50., 40., 49., 48., 51., 43.,  2., 46., 26.,
       20., 17., 36., 19., 23., 38., 35., 10., 16., 27., 39., 31., 29.,
       22., 37., 28., 34., 32., 47., 44., 30., 18., 45., 33., 24., 15.,
       14., 13., 25.,  5., 12.,  6.,  8.,  9.,  7.,  3.,  4., 11.,  1.])

In [21]:
# 2.14
new_index = np.arange(test_ds.shape[0])
np.random.shuffle(new_index)
test_ds.set_index(new_index)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum,square_sum,square
4,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327,1.221206e+05,103684.0
3,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537,5.781951e+06,5764801.0
1,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536,2.654797e+05,246016.0
2,5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452,3.306613e+05,311364.0
0,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053,3.384812e+05,319225.0

3 Продемонстрировать работу .groupby, на основе группировок в groupby вычисляете агрегатные функции по одной или нескольким колонкам. Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [22]:
aggr = dataset.groupby('HouseAge').mean()
# Таким образом мы узнали средние значения признаков для дома каждого возвраста
aggr

,MedInc,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
HouseAge,,,,,,,,
1.0,4.003400,9.088091,1.552106,328.500000,3.244088,36.205000,-119.457500,1.443000
2.0,5.167766,7.649087,1.273514,2083.051724,2.747802,35.494483,-119.121379,2.244759
3.0,5.460258,6.851805,1.192486,3001.774194,2.734708,35.284516,-118.936452,2.356436
4.0,5.180673,6.112610,1.116190,2813.162304,2.786138,34.966963,-118.814293,2.292351
5.0,4.697636,5.963211,1.128014,2471.381148,3.279108,35.234262,-118.918033,2.084177
6.0,4.383393,5.832246,1.105839,2165.637500,2.886158,35.233125,-118.994313,2.037944
7.0,4.464457,6.236576,1.145118,2613.080000,2.936948,35.544286,-119.111486,1.932960
8.0,4.459338,6.280481,1.175100,2018.354369,3.360742,35.743835,-119.320243,1.944146
9.0,4.316425,6.014117,1.144547,1886.975610,2.899606,35.683366,-119.305415,1.866727
10.0,4.050508,6.047608,1.195510,1712.924242,2.852738,35.914621,-119.400492,1.765807
11.0,3.932593,6.288396,1.245155,1989.905512,2.932461,35.896063,-119.484803,1.799079
12.0,3.988412,5.766874,1.122970,2129.613445,2.902287,35.731891,-119.346261,1.820462
13.0,4.150874,6.225630,1.199163,1776.347682,2.875146,35.817417,-119.380762,1.901818
14.0,4.115541,6.101843,1.175591,1857.140777,2.871762,35.975267,-119.548981,1.895971
15.0,4.062305,5.942703,1.142600,1622.308594,2.824927,35.900430,-119.497109,1.818084
16.0,4.293998,6.004060,1.131531,1483.556420,2.916834,35.732257,-119.557588,2.001806
17.0,3.935827,5.879533,1.168132,1605.848138,2.819008,35.965043,-119.630645,1.904943
18.0,3.977344,5.708517,1.124104,1608.664912,2.895784,35.944965,-119.672000,1.933548
19.0,3.760389,5.632239,1.138902,1619.286853,2.860078,35.826892,-119.528127,1.931978
20.0,3.778618,5.466440,1.112190,1545.584946,2.863815,36.143140,-119.891828,1.956598
21.0,3.852120,5.536552,1.110378,1657.793722,2.876149,35.779641,-119.629036,2.001565
22.0,3.922650,5.661284,1.130028,1736.686717,2.950788,35.824912,-119.663033,2.098976
23.0,3.949525,5.584120,1.113509,1554.285714,2.935799,35.732299,-119.625000,2.045547
24.0,3.911442,5.404322,1.090811,1610.000000,2.910523,35.410502,-119.348766,2.058331
25.0,4.119936,5.542334,1.102046,1539.491166,2.876420,35.503728,-119.436696,2.204142
26.0,4.076914,5.547365,1.072149,1437.591276,3.051294,35.506672,-119.494330,2.094753
27.0,3.853651,5.345399,1.101355,1412.657787,2.893323,35.620307,-119.629488,2.082970
28.0,3.752313,5.213263,1.086258,1443.577495,2.967666,35.555669,-119.549512,2.081589
29.0,3.580305,5.215443,1.088691,1454.225597,2.991591,35.503362,-119.448243,1.972278
30.0,3.587635,5.086314,1.082066,1413.836134,3.049689,35.446513,-119.458571,2.002526
31.0,3.607926,4.962658,1.059985,1390.796943,3.035894,35.370197,-119.405087,2.070841
32.0,3.778895,5.174086,1.060452,1364.886726,3.087233,35.475044,-119.453912,2.034101
33.0,3.832625,5.443103,1.101136,1304.369106,3.112717,35.385740,-119.377935,2.036282
34.0,3.984903,5.463408,1.099826,1233.134978,3.049085,35.164470,-119.200334,2.145940
35.0,3.913107,5.201818,1.039142,1204.427184,3.147272,35.170728,-119.255316,2.072990
36.0,3.935958,5.252212,1.042671,1093.349188,3.786374,35.172459,-119.273179,2.075739
37.0,3.747540,5.099511,1.054990,1080.089385,3.035523,35.338454,-119.444115,2.073608
38.0,3.446261,4.991169,1.065688,1100.913706,3.036302,35.350482,-119.363173,1.935937
39.0,3.437686,4.872036,1.053098,1160.252033,3.008323,35.514824,-119.632005,2.088906
40.0,3.456350,4.891881,1.053887,1094.674342,2.982353,35.440493,-119.557993,2.089185
41.0,3.170057,4.713015,1.053664,1040.043919,3.100736,35.344966,-119.429291,1.972538
42.0,3.431315,4.764322,1.043766,1134.913043,3.056921,35.346005,-119.480543,1.987726
43.0,3.211136,4.759272,1.049097,1064.963173,2.950987,35.556176,-119.668102,1.936391
44.0,3.503119,5.057172,1.067361,1031.109551,2.889532,35.326910,-119.516180,2.162335
45.0,3.665441,4.976640,1.037650,1035.323129,7.111575,35.494252,-119.669932,2.177980
46.0,3.398138,4.902913,1.046044,1051.808163,4.849529,35.652939,-119.811551,2.007849
47.0,3.290915,4.916969,1.062047,1060.015152,2.936009,35.777576,-119.927576,1.906011
48.0,3.473160,5.085865,1.067385,970.926554,2.782648,35.715254,-119.816667,2.225718
49.0,3.550495,4.966750,1.043057,989.194030,2.721458,36.015075,-120.275672,2.203359
50.0,3.444289,4.942963,1.072900,998.977941,2.777761,35.987279,-120.123603,2.178802
51.0,3.423648,4.890285,1.045443,941.312500,2.548105,36.359167,-120.489167,2.277188
52.0,3.889047,5.100120,1.066982,934.271013,2.840404,36.605161,-120.885915,2.754209

4 Решейпинг данных 1Dto2D с помощью .pivot (можно подать на вход результаты агрегатов, полученных ранее через .groupby (сгруппировать по двум полям), либо прекрасно заходит сюда данные из SQL сгруппированные предварительно по 2-м полям). Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [23]:
# В данном датасете .pivot не слишком полезен, поскольку все признаки здесь являются непрерывными величинами.
# Нужна дополнительная предобработка или другой подход к анализу
aggr.pivot(index='MedInc', columns='AveRooms')

         AveBedrms                                                    \
AveRooms  4.713015  4.759272  4.764322  4.872036  4.890285  4.891881
MedInc
3.170057  1.053664       NaN       NaN       NaN       NaN       NaN
3.211136       NaN  1.049097       NaN       NaN       NaN       NaN
3.290915       NaN       NaN       NaN       NaN       NaN       NaN
3.398138       NaN       NaN       NaN       NaN       NaN       NaN
3.423648       NaN       NaN       NaN       NaN  1.045443       NaN
3.431315       NaN       NaN  1.043766       NaN       NaN       NaN
3.437686       NaN       NaN       NaN  1.053098       NaN       NaN
3.444289       NaN       NaN       NaN       NaN       NaN       NaN
3.446261       NaN       NaN       NaN       NaN       NaN       NaN
3.456350       NaN       NaN       NaN       NaN       NaN  1.053887
3.473160       NaN       NaN       NaN       NaN       NaN       NaN
3.503119       NaN       NaN       NaN       NaN       NaN       NaN
3.550495       NaN       NaN       NaN       NaN       NaN       NaN
3.580305       NaN       NaN       NaN       NaN       NaN       NaN
3.587635       NaN       NaN       NaN       NaN       NaN       NaN
3.607926       NaN       NaN       NaN       NaN       NaN       NaN
3.665441       NaN       NaN       NaN       NaN       NaN       NaN
3.747540       NaN       NaN       NaN       NaN       NaN       NaN
3.752313       NaN       NaN       NaN       NaN       NaN       NaN
3.760389       NaN       NaN       NaN       NaN       NaN       NaN
3.778618       NaN       NaN       NaN       NaN       NaN       NaN
3.778895       NaN       NaN       NaN       NaN       NaN       NaN
3.832625       NaN       NaN       NaN       NaN       NaN       NaN
3.852120       NaN       NaN       NaN       NaN       NaN       NaN
3.853651       NaN       NaN       NaN       NaN       NaN       NaN
3.889047       NaN       NaN       NaN       NaN       NaN       NaN
3.911442       NaN       NaN       NaN       NaN       NaN       NaN
3.913107       NaN       NaN       NaN       NaN       NaN       NaN
3.922650       NaN       NaN       NaN       NaN       NaN       NaN
3.932593       NaN       NaN       NaN       NaN       NaN       NaN
3.935827       NaN       NaN       NaN       NaN       NaN       NaN
3.935958       NaN       NaN       NaN       NaN       NaN       NaN
3.949525       NaN       NaN       NaN       NaN       NaN       NaN
3.977344       NaN       NaN       NaN       NaN       NaN       NaN
3.984903       NaN       NaN       NaN       NaN       NaN       NaN
3.988412       NaN       NaN       NaN       NaN       NaN       NaN
4.003400       NaN       NaN       NaN       NaN       NaN       NaN
4.050508       NaN       NaN       NaN       NaN       NaN       NaN
4.062305       NaN       NaN       NaN       NaN       NaN       NaN
4.076914       NaN       NaN       NaN       NaN       NaN       NaN
4.115541       NaN       NaN       NaN       NaN       NaN       NaN
4.119936       NaN       NaN       NaN       NaN       NaN       NaN
4.150874       NaN       NaN       NaN       NaN       NaN       NaN
4.293998       NaN       NaN       NaN       NaN       NaN       NaN
4.316425       NaN       NaN       NaN       NaN       NaN       NaN
4.383393       NaN       NaN       NaN       NaN       NaN       NaN
4.459338       NaN       NaN       NaN       NaN       NaN       NaN
4.464457       NaN       NaN       NaN       NaN       NaN       NaN
4.697636       NaN       NaN       NaN       NaN       NaN       NaN
5.167766       NaN       NaN       NaN       NaN       NaN       NaN
5.180673       NaN       NaN       NaN       NaN       NaN       NaN
5.460258       NaN       NaN       NaN       NaN       NaN       NaN

                                                 ... MedHouseVal            \
AveRooms  4.902913  4.916969 4.942963  4.962658  ...    6.047608  6.101843
MedInc                                           ...
3.170057       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.211136       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.290915       NaN  1.062047      NaN       NaN  ...         NaN       NaN
3.398138  1.046044       NaN      NaN       NaN  ...         NaN       NaN
3.423648       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.431315       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.437686       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.444289       NaN       NaN   1.0729       NaN  ...         NaN       NaN
3.446261       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.456350       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.473160       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.503119       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.550495       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.580305       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.587635       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.607926       NaN       NaN      NaN  1.059985  ...         NaN       NaN
3.665441       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.747540       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.752313       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.760389       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.778618       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.778895       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.832625       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.852120       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.853651       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.889047       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.911442       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.913107       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.922650       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.932593       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.935827       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.935958       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.949525       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.977344       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.984903       NaN       NaN      NaN       NaN  ...         NaN       NaN
3.988412       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.003400       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.050508       NaN       NaN      NaN       NaN  ...    1.765807       NaN
4.062305       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.076914       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.115541       NaN       NaN      NaN       NaN  ...         NaN  1.895971
4.119936       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.150874       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.293998       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.316425       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.383393       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.459338       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.464457       NaN       NaN      NaN       NaN  ...         NaN       NaN
4.697636       NaN       NaN      NaN       NaN  ...         NaN       NaN
5.167766       NaN       NaN      NaN       NaN  ...         NaN       NaN
5.180673       NaN       NaN      NaN       NaN  ...         NaN       NaN
5.460258       NaN       NaN      NaN       NaN  ...         NaN       NaN

                                                                               \
AveRooms  6.112610  6.225630 6.236576  6.280481  6.288396  6.851805  7.649087
MedInc
3.170057       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.211136       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.290915       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.398138       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.423648       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.431315       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.437686       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.444289       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.446261       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.456350       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.473160       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.503119       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.550495       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.580305       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.587635       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.607926       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.665441       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.747540       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.752313       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.760389       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.778618       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.778895       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.832625       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.852120       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.853651       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.889047       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.911442       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.913107       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.922650       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.932593       NaN       NaN      NaN       NaN  1.799079       NaN       NaN
3.935827       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.935958       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.949525       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.977344       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.984903       NaN       NaN      NaN       NaN       NaN       NaN       NaN
3.988412       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.003400       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.050508       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.062305       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.076914       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.115541       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.119936       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.150874       NaN  1.901818      NaN       NaN       NaN       NaN       NaN
4.293998       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.316425       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.383393       NaN       NaN      NaN       NaN       NaN       NaN       NaN
4.459338       NaN       NaN      NaN  1.944146       NaN       NaN       NaN
4.464457       NaN       NaN  1.93296       NaN       NaN       NaN       NaN
4.697636       NaN       NaN      NaN       NaN       NaN       NaN       NaN
5.167766       NaN       NaN      NaN       NaN       NaN       NaN  2.244759
5.180673  2.292351       NaN      NaN       NaN       NaN       NaN       NaN
5.460258       NaN       NaN      NaN       NaN       NaN  2.356436       NaN


AveRooms 9.088091
MedInc
3.170057      NaN
3.211136      NaN
3.290915      NaN
3.398138      NaN
3.423648      NaN
3.431315      NaN
3.437686      NaN
3.444289      NaN
3.446261      NaN
3.456350      NaN
3.473160      NaN
3.503119      NaN
3.550495      NaN
3.580305      NaN
3.587635      NaN
3.607926      NaN
3.665441      NaN
3.747540      NaN
3.752313      NaN
3.760389      NaN
3.778618      NaN
3.778895      NaN
3.832625      NaN
3.852120      NaN
3.853651      NaN
3.889047      NaN
3.911442      NaN
3.913107      NaN
3.922650      NaN
3.932593      NaN
3.935827      NaN
3.935958      NaN
3.949525      NaN
3.977344      NaN
3.984903      NaN
3.988412      NaN
4.003400    1.443
4.050508      NaN
4.062305      NaN
4.076914      NaN
4.115541      NaN
4.119936      NaN
4.150874      NaN
4.293998      NaN
4.316425      NaN
4.383393      NaN
4.459338      NaN
4.464457      NaN
4.697636      NaN
5.167766      NaN
5.180673      NaN
5.460258      NaN

[52 rows x 312 columns]

5 Решейпинг 1Dto2D данных соединённый с группировкой / агрегацией (одним словом — сводная таблица): .pivot_table. Группируем только по категориальным полям или числовым, если уверены, что значений немного! Если значений много, можете вначале из загрубить (см. (2.9.) либо (7)).
Перед тем как выполнять задание сформулируйте вопрос, на который собираетесь получить ответ с помощью сводной таблицы. Запишите этот вопрос в комментариях. Какую информацию о данных вы в результате получили?
https://pbpython.com/pandas-pivot-table-explained.html

Найдём среднее число спальных комнат при заданном возрасте дома и значении MedInc:

In [24]:
# Сделаем некоторое округление, чтобы всё стало красивее
def round_fn(row):
    row['MedInc'] = int(row['MedInc'])
    return row

In [25]:
dataset_cp = list(map(round_fn, [row for i, row in dataset.iterrows()]))
dataset_cp = pd.DataFrame.from_records(dataset_cp)

In [26]:
dataset_cp.pivot_table(columns='MedInc', index='HouseAge', values='AveBedrms', )

MedInc,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0
HouseAge,,,,,,,,,,,,,,,,
1.0,NaN,1.000000,NaN,NaN,1.964286,1.279851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,1.597633,1.336200,1.147380,1.267392,1.299358,1.223631,1.362543,1.166667,NaN,1.203030,NaN,NaN,NaN,NaN,2.222222
3.0,NaN,NaN,1.325834,1.137344,1.164834,1.120222,1.189916,1.071066,1.074318,NaN,2.573179,0.934959,NaN,NaN,NaN,NaN
4.0,3.333333,0.935637,1.143548,1.199551,1.088417,1.103070,1.070897,1.067888,1.003479,1.108696,0.851852,0.940476,0.965665,1.055375,NaN,NaN
5.0,1.037288,1.196148,1.162599,1.123188,1.169297,1.061492,1.067749,1.358883,1.050261,0.977924,1.041497,1.187387,0.888889,NaN,NaN,NaN
6.0,1.090343,1.135504,1.125644,1.131781,1.087540,1.056583,1.071007,0.996701,1.079165,0.988377,1.730152,NaN,NaN,1.080460,NaN,NaN
7.0,NaN,1.142436,1.101108,1.103660,1.244570,1.117465,1.066025,1.835634,1.017063,NaN,1.095243,NaN,0.777778,0.974858,NaN,NaN
8.0,1.259779,1.169983,1.371730,1.190647,1.121241,1.067283,1.135887,1.056552,0.990674,1.043688,1.044344,NaN,1.186047,NaN,1.114407,NaN
9.0,1.140351,1.112050,1.131074,1.302657,1.091310,1.050781,1.069220,0.984951,1.037438,0.976311,1.111849,NaN,NaN,NaN,NaN,NaN
10.0,1.239481,1.196102,1.167168,1.385433,1.126550,1.096741,1.105375,1.148085,1.076608,NaN,1.038344,NaN,1.078643,NaN,NaN,NaN
11.0,4.569547,1.618584,1.278123,1.264500,1.098519,1.041740,1.041885,1.102443,0.988182,NaN,1.113259,NaN,NaN,0.896797,NaN,NaN
12.0,1.528105,1.166860,1.129047,1.137588,1.110937,1.129447,1.056593,1.020265,1.046899,1.014885,0.997268,NaN,NaN,NaN,NaN,NaN
13.0,1.061559,1.124829,1.176314,1.304349,1.200376,1.207435,1.053839,1.167627,0.979073,1.011627,NaN,NaN,NaN,NaN,NaN,0.993958
14.0,NaN,1.162237,1.148066,1.297079,1.146678,1.035862,1.192485,1.112457,1.012472,0.991150,1.033470,1.041971,1.053459,NaN,NaN,1.037618
15.0,1.618193,1.180934,1.174267,1.166535,1.138329,1.116274,1.022124,1.015014,1.034405,1.030418,0.996098,1.084135,NaN,1.065882,NaN,1.003650
16.0,2.144203,1.192980,1.145824,1.184061,1.135930,1.082104,1.007892,1.090014,1.015990,1.122556,0.994999,1.060790,1.214765,NaN,NaN,NaN
17.0,1.403283,1.360643,1.235922,1.175683,1.069133,1.065214,1.084664,1.038811,1.071251,1.040488,1.016218,1.069610,NaN,0.987246,NaN,1.021944
18.0,1.017402,1.141470,1.144458,1.146709,1.146704,1.107253,1.037427,1.026842,1.038741,0.986592,1.002774,1.084854,NaN,NaN,NaN,NaN
19.0,1.051236,1.206778,1.124916,1.147675,1.241755,1.038025,1.030439,1.065032,1.113116,1.091784,1.110650,0.943662,1.056235,1.125341,NaN,0.939394
20.0,1.102679,1.140529,1.156393,1.112954,1.083274,1.109731,1.020018,1.032986,1.041221,1.006810,1.040343,1.061275,1.000000,NaN,NaN,NaN
21.0,1.119898,1.128817,1.111936,1.201471,1.069273,1.026193,1.015731,1.011770,1.016713,1.042415,1.000000,0.977065,NaN,NaN,NaN,NaN
22.0,1.161806,1.307008,1.149202,1.160401,1.074459,1.059652,1.001264,1.180680,1.016088,0.960757,1.051519,1.035019,NaN,NaN,NaN,NaN
23.0,1.411748,1.230760,1.114077,1.177992,1.053173,1.034913,1.034569,1.041879,1.036966,0.988115,1.022935,NaN,1.026287,NaN,NaN,NaN
24.0,1.217678,1.115140,1.092807,1.117148,1.112521,1.047571,1.018227,0.997952,1.038343,1.039437,1.085046,1.050900,1.025547,NaN,0.853333,NaN
25.0,1.150743,1.133346,1.202396,1.111912,1.031544,1.066358,1.020632,1.007899,1.031741,0.980496,0.998015,1.019804,NaN,1.027778,NaN,NaN
26.0,1.142329,1.114023,1.170018,1.064871,1.029391,1.002673,1.007095,1.019025,0.993864,1.031179,1.037092,NaN,NaN,1.058282,NaN,1.250000
27.0,1.002826,1.200782,1.199815,1.068362,1.038688,1.026431,1.017193,1.046780,1.031447,0.953970,1.037352,1.083333,1.077107,1.012673,NaN,0.980769
28.0,1.212875,1.235508,1.071432,1.083205,1.040468,1.043395,1.051683,1.025479,0.923527,1.038994,1.029821,0.972691,1.042811,NaN,1.509225,NaN
29.0,1.026587,1.160078,1.082466,1.096255,1.090069,1.014876,1.045692,1.032638,1.017240,0.929651,1.217868,NaN,1.138889,1.052780,NaN,NaN
30.0,1.075140,1.096081,1.143159,1.057310,1.065799,1.017937,0.999483,1.002536,1.089909,1.037618,1.025486,1.074380,1.084158,NaN,NaN,NaN
31.0,1.030769,1.114411,1.071397,1.054047,1.028850,1.058276,1.003897,1.033947,1.009545,0.986877,1.070223,1.027161,NaN,NaN,NaN,1.093117
32.0,1.153597,1.143159,1.072050,1.052667,1.038272,1.033213,1.011869,0.998369,0.995332,1.014258,1.010699,1.047402,NaN,NaN,NaN,1.046589
33.0,1.633929,1.633213,1.074235,1.054423,1.025673,1.036071,1.027732,1.025825,1.014219,1.048323,0.931248,NaN,NaN,1.029255,NaN,1.037209
34.0,0.951429,1.136824,1.062505,1.070843,1.246140,1.015113,1.011556,1.030387,1.043588,1.043357,1.012964,1.035187,1.121864,1.016667,NaN,1.041685
35.0,1.282635,1.077061,1.055392,1.035308,1.025892,1.021087,1.028174,1.021976,1.042685,0.970875,0.990338,NaN,NaN,NaN,NaN,1.068966
36.0,1.470831,1.086944,1.062215,1.023669,1.031716,1.012325,1.035869,1.028134,1.090690,1.062697,1.029065,1.154216,NaN,1.039773,NaN,1.079554
37.0,1.074319,1.085818,1.096798,1.038237,1.022653,1.025302,0.998978,1.038565,1.022447,1.117398,1.038004,0.950704,1.012915,1.003058,NaN,1.154444
38.0,0.976714,1.144776,1.055168,1.052841,1.039547,1.049984,1.046041,1.042174,NaN,1.040323,1.084772,1.040936,0.928409,NaN,NaN,1.094650
39.0,1.230772,1.059909,1.064754,1.049153,1.027897,1.035136,1.007824,1.016676,1.015699,1.080758,0.973214,1.396825,1.000000,NaN,NaN,1.018750
40.0,1.202278,1.079345,1.047551,1.046748,1.047526,1.060697,1.000181,1.039774,0.976948,1.003774,NaN,0.938202,NaN,NaN,NaN,1.065039
41.0,1.048426,1.088594,1.057061,1.024925,1.063470,1.021346,1.048135,1.047671,1.005706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42.0,1.156205,1.072443,1.049833,1.024182,1.037902,1.056125,1.031883,0.940854,1.014264,1.111111,0.970149,1.035412,0.915789,1.000000,NaN,1.062788
43.0,1.092210,1.063354,1.064525,1.032209,1.030885,1.053928,0.995885,1.063873,1.057258,1.022954,0.962768,NaN,NaN,0.992188,NaN,0.750000
44.0,NaN,1.094351,1.052895,1.056856,1.106907,1.007127,1.041517,0.978774,1.024458,0.955645,1.003771,NaN,1.031128,NaN,NaN,NaN
45.0,1.139726,1.072760,1.055584,1.030035,1.028365,1.001664,1.002199,1.026000,1.011799,1.048354,0.833333,0.934426,NaN,NaN,NaN,1.092664
46.0,1.049052,1.080671,1.054610,1.041556,1.029345,1.035554,1.030592,0.951327,1.013793,NaN,1.016548,NaN,NaN,NaN,NaN,0.913809
47.0,0.925287,1.087129,1.073376,1.057015,1.037686,1.005874,1.004938,1.042120,1.219828,1.177305,NaN,NaN,NaN,NaN,NaN,1.061538
48.0,1.109247,1.130390,1.073450,1.060735,1.034545,0.989986,0.958993,1.041958,1.036211,1.023256,1.051385,NaN,NaN,NaN,NaN,1.055242
49.0,1.006329,1.111235,1.045613,1.025521,1.030354,0.998274,1.022359,1.111111,0.896226,NaN,NaN,NaN,0.997368,NaN,0.946541,NaN
50.0,1.557377,1.083487,1.092567,1.061581,1.022507,1.069889,1.087914,0.981832,NaN,0.925373,1.050548,1.094787,0.925816,1.002950,NaN,NaN
51.0,NaN,1.092098,1.042413,1.057922,1.012884,1.000268,1.005695,NaN,NaN,1.030982,NaN,NaN,NaN,NaN,NaN,NaN
52.0,1.096023,1.078849,1.090922,1.070901,1.049512,1.040912,1.037333,1.045677,1.044241,1.052524,1.007407,1.036692,1.026335,1.077778,0.911488,1.044881

Практически везде в среднем по одной спальной комнате, но в более молодых домах и домах с небольшим значением MedInc имеют большее число спален.

6 Посчитать квантили распределения какого-либо вещественного признака (с помощью numpy.quantile или numpy.percentile)

In [27]:
np.quantile(dataset['MedInc'], q=.95)

7.0


7 Посчитать гистограмму какого-либо вещественного признака (с помощью numpy.histogram). Значения гистограммы можете использовать как вариант в качестве загрубленного числового признака для заданий (4) или (5).

In [28]:
np.histogram(dataset['MedInc'])

(array([2439, 4926, 8766, 2136, 1682,  284,  249,   45,   56,   57],
       dtype=int64),
 array([ 0. ,  1.5,  3. ,  4.5,  6. ,  7.5,  9. , 10.5, 12. , 13.5, 15. ]))


8 Получить DataFrame с MultiIndex любым способом: через конструктор (в документации увидите множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.

In [29]:
temp = test_ds.groupby(by=['HouseAge', 'MedInc']).mean()
temp

                 AveRooms  AveBedrms  Population  AveOccup  Latitude  \
HouseAge MedInc
21.0     8.3014  6.238137   0.971880      2401.0  2.109842     37.86
41.0     8.3252  6.984127   1.023810       322.0  2.555556     37.88
52.0     3.8462  6.281853   1.081081       565.0  2.181467     37.85
         5.6431  5.817352   1.073059       558.0  2.412281     37.85
         7.2574  8.288136   1.073446       496.0  2.802260     37.85

                 Longitude  MedHouseVal        sum    square_sum     square
HouseAge MedInc
21.0     8.3014    -122.22        3.585  14.539537  5.781951e+06  5764801.0
41.0     8.3252    -122.23        4.526  15.309327  1.221206e+05   103684.0
52.0     3.8462    -122.25        3.422  10.128053  3.384812e+05   319225.0
         5.6431    -122.25        3.413  11.460452  3.306613e+05   311364.0
         7.2574    -122.24        3.521  15.545536  2.654797e+05   246016.0

9 Переставить местами уровни индекса

In [30]:
temp.swaplevel(i=0 , j=1).sort_index()

,,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum,square_sum,square
MedInc,HouseAge,,,,,,,,,,
3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053,3.384812e+05,319225.0
5.6431,52.0,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452,3.306613e+05,311364.0
7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536,2.654797e+05,246016.0
8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537,5.781951e+06,5764801.0
8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327,1.221206e+05,103684.0

10 Транспонировать таблицу (или создать новую другую) с MultiIndex

In [31]:
temp.T

HouseAge             21.0           41.0           52.0                 \
MedInc             8.3014         8.3252         3.8462         5.6431
AveRooms     6.238137e+00       6.984127       6.281853       5.817352
AveBedrms    9.718805e-01       1.023810       1.081081       1.073059
Population   2.401000e+03     322.000000     565.000000     558.000000
AveOccup     2.109842e+00       2.555556       2.181467       2.412281
Latitude     3.786000e+01      37.880000      37.850000      37.850000
Longitude   -1.222200e+02    -122.230000    -122.250000    -122.250000
MedHouseVal  3.585000e+00       4.526000       3.422000       3.413000
sum          1.453954e+01      15.309327      10.128053      11.460452
square_sum   5.781951e+06  122120.593504  338481.155018  330661.332234
square       5.764801e+06  103684.000000  319225.000000  311364.000000

HouseAge
MedInc              7.2574
AveRooms          8.288136
AveBedrms         1.073446
Population      496.000000
AveOccup          2.802260
Latitude         37.850000
Longitude      -122.240000
MedHouseVal       3.521000
sum              15.545536
square_sum   265479.669212
square       246016.000000

11 Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой)

In [32]:
temp.reset_index(level=1)

,MedInc,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,sum,square_sum,square
HouseAge,,,,,,,,,,,
21.0,8.3014,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,14.539537,5.781951e+06,5764801.0
41.0,8.3252,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,15.309327,1.221206e+05,103684.0
52.0,3.8462,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,10.128053,3.384812e+05,319225.0
52.0,5.6431,5.817352,1.073059,558.0,2.412281,37.85,-122.25,3.413,11.460452,3.306613e+05,311364.0
52.0,7.2574,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,15.545536,2.654797e+05,246016.0

12 Продемонстировать работу .merge

In [33]:
df1 = pd.DataFrame(np.random.randn(2, 2), columns = ['A', 'B'] )
df2 = pd.DataFrame(np.random.randn(2, 2), columns = ['C', 'D'] )

In [34]:
pd.merge(df1, df2, left_index=True, right_index=True)

         A         B         C         D
0  0.68804  2.130021 -0.016052 -0.962336
1  0.04525 -0.802539  1.961537 -1.811002


13 Продемонстрировать работу с .concat или append

In [35]:
pd.concat([df1, df2], axis=1)

         A         B         C         D
0  0.68804  2.130021 -0.016052 -0.962336
1  0.04525 -0.802539  1.961537 -1.811002

14 Проитерировать dataframe построчно .iterrows(). Выполните что-то имеющее смысл внутри цикла

In [36]:
# Найдём аномальные значения в данных
perc = np.percentile(dataset['MedInc'], 99)
for i, row in dataset.iterrows():
    val = row['MedInc']
    if val > perc:
        print(f'Found outlier with val={val}, index={i}')

Found outlier with val=11.0, index=131
Found outlier with val=11.0, index=510
Found outlier with val=13.0, index=511
Found outlier with val=12.0, index=512
Found outlier with val=12.0, index=514
Found outlier with val=12.0, index=1564
Found outlier with val=15.0, index=1566
Found outlier with val=13.0, index=1583
Found outlier with val=12.0, index=1586
Found outlier with val=11.0, index=1617
Found outlier with val=11.0, index=1621
Found outlier with val=13.0, index=1645
Found outlier with val=13.0, index=1646
Found outlier with val=11.0, index=3858
Found outlier with val=13.0, index=4042
Found outlier with val=11.0, index=4046
Found outlier with val=12.0, index=4047
Found outlier with val=12.0, index=4116
Found outlier with val=12.0, index=4220
Found outlier with val=12.0, index=4229
Found outlier with val=11.0, index=4345
Found outlier with val=15.0, index=4352
Found outlier with val=15.0, index=4604
Found outlier with val=15.0, index=4605
Found outlier with val=15.0, index=4606
Found outlier with val=11.0, index=4622
Found outlier with val=15.0, index=4626
Found outlier with val=15.0, index=4678
Found outlier with val=15.0, index=5242
Found outlier with val=12.0, index=5243
Found outlier with val=12.0, index=5244
Found outlier with val=15.0, index=5247
Found outlier with val=15.0, index=5248
Found outlier with val=11.0, index=5250
Found outlier with val=11.0, index=5252
Found outlier with val=13.0, index=5253
Found outlier with val=12.0, index=5256
Found outlier with val=15.0, index=5257
Found outlier with val=13.0, index=5258
Found outlier with val=13.0, index=5259
Found outlier with val=15.0, index=5260
Found outlier with val=11.0, index=5264
Found outlier with val=11.0, index=5269
Found outlier with val=13.0, index=5272
Found outlier with val=15.0, index=5275
Found outlier with val=15.0, index=5281
Found outlier with val=15.0, index=5291
Found outlier with val=14.0, index=5304
Found outlier with val=12.0, index=5352
Found outlier with val=11.0, index=5361
Found outlier with val=12.0, index=5494
Found outlier with val=12.0, index=5728
Found outlier with val=11.0, index=6073
Found outlier with val=15.0, index=6391
Found outlier with val=15.0, index=6399
Found outlier with val=15.0, index=6590
Found outlier with val=15.0, index=6591
Found outlier with val=15.0, index=6592
Found outlier with val=11.0, index=6712
Found outlier with val=11.0, index=6724
Found outlier with val=11.0, index=6726
Found outlier with val=15.0, index=6727
Found outlier with val=12.0, index=6731
Found outlier with val=11.0, index=6735
Found outlier with val=15.0, index=6736
Found outlier with val=11.0, index=8792
Found outlier with val=12.0, index=8794
Found outlier with val=11.0, index=8795
Found outlier with val=15.0, index=8805
Found outlier with val=11.0, index=8816
Found outlier with val=15.0, index=8846
Found outlier with val=15.0, index=8847
Found outlier with val=15.0, index=8848
Found outlier with val=15.0, index=8849
Found outlier with val=15.0, index=8850
Found outlier with val=15.0, index=8851
Found outlier with val=15.0, index=8852
Found outlier with val=15.0, index=8853
Found outlier with val=15.0, index=8854
Found outlier with val=13.0, index=8875
Found outlier with val=13.0, index=8876
Found outlier with val=15.0, index=8878
Found outlier with val=11.0, index=8882
Found outlier with val=12.0, index=9316
Found outlier with val=14.0, index=9370
Found outlier with val=11.0, index=9381
Found outlier with val=12.0, index=9418
Found outlier with val=14.0, index=9811
Found outlier with val=13.0, index=10155
Found outlier with val=11.0, index=10402
Found outlier with val=13.0, index=10458
Found outlier with val=14.0, index=10483
Found outlier with val=13.0, index=10517
Found outlier with val=15.0, index=10673
Found outlier with val=11.0, index=10724
Found outlier with val=11.0, index=10726
Found outlier with val=12.0, index=10727
Found outlier with val=11.0, index=10742
Found outlier with val=11.0, index=10745
Found outlier with val=13.0, index=10749
Found outlier with val=15.0, index=10760
Found outlier with val=11.0, index=10999
Found outlier with val=13.0, index=11000
Found outlier with val=11.0, index=11007
Found outlier with val=11.0, index=11010
Found outlier with val=12.0, index=11037
Found outlier with val=11.0, index=11038
Found outlier with val=11.0, index=11490
Found outlier with val=15.0, index=11520
Found outlier with val=12.0, index=11912
Found outlier with val=11.0, index=14459
Found outlier with val=12.0, index=14486
Found outlier with val=11.0, index=15230
Found outlier with val=13.0, index=15231
Found outlier with val=11.0, index=15233
Found outlier with val=15.0, index=15241
Found outlier with val=15.0, index=15693
Found outlier with val=14.0, index=15698
Found outlier with val=15.0, index=16171
Found outlier with val=12.0, index=16828
Found outlier with val=12.0, index=16908
Found outlier with val=15.0, index=16910
Found outlier with val=11.0, index=16911
Found outlier with val=12.0, index=16912
Found outlier with val=13.0, index=16913
Found outlier with val=14.0, index=16915
Found outlier with val=15.0, index=17107
Found outlier with val=15.0, index=17108
Found outlier with val=15.0, index=17110
Found outlier with val=15.0, index=17111
Found outlier with val=13.0, index=17113
Found outlier with val=15.0, index=17118
Found outlier with val=11.0, index=17158
Found outlier with val=11.0, index=17161
Found outlier with val=13.0, index=17162
Found outlier with val=15.0, index=17166
Found outlier with val=15.0, index=17170
Found outlier with val=11.0, index=17310
Found outlier with val=12.0, index=17798
Found outlier with val=15.0, index=17858
Found outlier with val=15.0, index=18052
Found outlier with val=11.0, index=18055
Found outlier with val=11.0, index=18065
Found outlier with val=12.0, index=18080
Found outlier with val=12.0, index=18282
Found outlier with val=12.0, index=18341
Found outlier with val=11.0, index=18347
Found outlier with val=12.0, index=18352
Found outlier with val=13.0, index=18354
Found outlier with val=11.0, index=18355
Found outlier with val=12.0, index=18361
Found outlier with val=12.0, index=18362
Found outlier with val=13.0, index=18363
Found outlier with val=11.0, index=18366
Found outlier with val=15.0, index=18501
Found outlier with val=15.0, index=18504
Found outlier with val=12.0, index=20163
Found outlier with val=12.0, index=20436